<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Latest compiled and minified Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
</head>

<body>
  <h1>Real Time Voice Clonning Demo</h1>
  <p>'Record' 버튼을 누르고 5초 정도 말씀해주세요.</p>
  <div id="controls">
    <button id="recordButton">Record</button>
    <button id="pauseButton" disabled style="visibility:hidden">Pause</button>
    <button id="stopButton" disabled>Stop</button>
  </div>
  <div id="formats">Format: start recording to see sample rate</div>
	<p><strong>Recordings:</strong></p>
  <ol id="recordingsList"></ol>

  <hr class="my-4">
    <!-- inserting these scripts at the end to be able to use all the elements in the DOM -->
    <!-- <form id="input_form" name="input_form" method="POST" action="/tts"> -->
    <form id="input_form" name="input_form">
	  <div class="form-group">
      <label for="select">언어 (language) </label>
      <select name="input_language" class="form-control">
        <!-- <option value="kr" {{ 'selected' if opt_lang == 'kr'else '' }}>한글</option> -->
        <!--- <option value="en" {{ 'selected' if opt_lang == 'en' else '' }}>English</option> -->
        <option value="en">English</option>
      </select>
    </div>

	  <div class="form-group">
	    <textarea class="form-control" id="text_area" name="input_text" placeholder="{{sample_text}}"
	  	cols="40" rows="8">There used to be the elimination of jobs and the creation of new jobs.</textarea>
    </div>
	  <div id="btns" class="form-group">
	    <input id="btn" type="submit" class="btn btn-primary mb-2" value="음성합성(TTS)" />
	  </div>
  </form>

  <div id="warning" class="alert alert-warning" role="alert" style="display: none">
    텍스트를 입력하세요. (Enter text)
  </div>
  <div id="warning2" class="alert alert-warning" role="alert" style="display: none">
    목소리를 녹음하세요. (Record your voice)
  </div>

  <hr class="my-4">

	<p><strong>합성된 음성 (Result):</strong></p>
  <ol id="ttsList"></ol>

  <!--
  <div class="media">
    <div class="media-body pull-right">
      <p class="lead"> 합성된 음성 (Result)</p>
      <audio controls preload="auto" autoplay src='/tss/2020-06-11T025051.229Z_tss.wav'/>
    </div>
  </div>
  -->

  <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
  <script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>

  <script type="text/javascript">
    $(document).ready(() => {
        $("#btns").prepend(`
          <div id="loading" style="display : none;">
            <button class="btn btn-primary" type="button" disabled>
              <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>Processing...
            </button>
          </div>`
        )
    });

    function addTssAudio(fn) {
	    var au = document.createElement('audio');
	    var li = document.createElement('li');
	    au.controls = true;
      au.autoplay = true;
	    au.src = '/tss/'+fn;
	    li.appendChild(au);
	    document.getElementById('ttsList').appendChild(li);
    }

    $("#input_form").submit((e) => {
      if(recordingsList.children.length < 1) {
          $('#warning2').show();
          return false;
      }
      
      if (!$("#text_area").val()) {
          $('#warning').show();
          return false;
      } 

      $("#loading").show();
      $("#btn").hide()
      $('#warning').hide();
      $('#warning2').hide();

      var data;

      let blob = recordingsList.children[0].blob;

	    var filename = new Date().toISOString() + ".wav"

      data = new FormData();
      data.append('text', $('#text_area').val());
      data.append("file", blob, filename);

      xhr = new XMLHttpRequest();

      xhr.open( 'POST', '/upload', true );
      xhr.onload = function ( e ) {
        if(this.readyState === 4) {
          $("#loading").hide();
          $("#btn").show()
          let res = e.target.responseText;
		      console.log("Server returned: ", res);
          if(res !== 'FAIL') {
            addTssAudio(res);
          }
		    }
      };
      xhr.send( data );

      e.preventDefault();
    });
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>

</body>
</html>
